go 1.26.1

use (
	./src/pkg/buildingblocks
	./src/services/catalog
	./src/services/cart
	./src/services/ordering
	./src/services/inventory
	./src/services/profiles
	./src/services/reviews
	./src/services/wishlists
	./src/services/coupons
	./tests/ordering-user-flow
)
